.wrapper {
  position: relative;
}

.setting {
  display: flex;
  align-items: center;
}

.settingName {
  font-weight: bold;
  margin-right: 10px;
  font-size: 18px;
}

.settingUnit {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 12px;
}

.input input {
  font-weight: bold;
  text-align: center;
  color: var(--mantine-color-raceLime-text);
}

.selector {
  margin-right: 60px;
}

.selectorName {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}

.saveButton {
  position: absolute;
  bottom: 0;
  right: 0;
}
