.navbar {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.logo {
  display: flex;
  justify-content: center;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: var(--mantine-radius-sm);
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));

  @mixin hover {
    background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-dark-6)
    );
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));

    .linkIcon {
      color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    }
  }

  &[data-active] {
    &,
    &:hover {
      background-color: var(--mantine-color-lime-light);
      color: var(--mantine-color-lime-light-color);

      .linkIcon {
        color: var(--mantine-color-lime-light-color);
      }
    }
  }
}

.footer {
  margin-top: auto;
}
