@font-face {
  font-family: "Poppins";
  src: url("./Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Poppins";
  src: url("./Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Poppins";
  src: url("./Poppins-Light.ttf") format("truetype");
  font-weight: 300;
}

.icon-stroke {
  stroke: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}

.icon-fill {
  fill: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}
